*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
}

.container {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #1e0446;
  height: 100vh;
  width: 100%;
}

header {
  position: relative;
  background-color: #0e2157;
  color: #9dc9d6;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

header p {
  position: absolute;
  top: 25px;
  left: 50px;
  max-width: 90px;
}

main {
  position: relative;
  height: 100vh;
}

#title__1 {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  text-align: center;
  position: absolute;
  top: 10%;
  color: white;
  width: 100%;
  /* animation: fadeIn 3s ease-in-out; */
  /* animation: fadeOut 1s ease-in-out; */
  
}
.wrapper {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  background-color: #0e2157;
  position: absolute;
  margin: 10% 25%;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  text-align: center;
  padding: 10px 25px;
  line-height: 45px;
}

#title__2 {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  color: #9dc9d6;
}

#title__2 a {
  color: #9dc9d6;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0;
  margin-top: 5%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.btn i {
  font-size: 60px;
  color: #9dc9d6;
}

.board {
  position: relative;
  display: grid;
  margin: auto;
  background-color: #000000;
  border: 4px solid #f6f1f1;
  border-radius: 6px;
  width: 88%;
  height: 88vh;
  /* z-index: 3; */
  grid-template: repeat(20, 1fr) / repeat(20, 1fr); /* y / x */
}

.arrow {
  position: absolute;
  width: 250px;
  height: 140px;
  background-color: transparent;
}

.arrow button {
  /* background-color: #000000; */
  height: 90px;
  width: 80px;
  border: none;
}

#kanan,
#kiri,
#atas,
#bawah {
  position: absolute;
  height: 78px;
  width: 80px;
  background-color: transparent;
}

.arrow i {
  cursor: pointer;
  color: #9dc9d6;
  font-size: 60px;
  width: 100%;
  height: 74px;
  position: absolute;
  padding-top: 8px;
}

.board .food {
  background-image: url(../../assets/img/food.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.board .player {
  background-image: url(../../assets/img/player.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}


@media screen and (max-width: 576px) {
  .board {
    height: 70vh;
  }
  .arrow {
    /* background-color: burlywood; */
    transform: translate(-45px, -5px);
    width: 200px;
    bottom: 55px;
  }
  .kanan {
    right: 10px;
    top: -3px;
  }
  .kiri {
    left: 0;
    top: -3px;
  }
  .atas {
    top: 0px;
    left: 1px;
  }
  .bawah {
    bottom: 0;
    left: 1px;
  }
  .arrow #kanan {
    right: 0;
    bottom: 24%;
    text-align: center;
  }
  .arrow #kiri {
    left: 0;
    bottom: 24%;
  }
  .arrow #atas {
    top: -10px;
    right: 30%;
  }
  .arrow #bawah {
    bottom: 2px;
    right: 30%;
  }
  .wrapper {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background-color: #0e2157;
    position: absolute;
    margin: 10% 20%;
    width: 60%;
    height: 50%;
    border-radius: 20px;
    text-align: center;
    padding: 10px 25px;
    line-height: 40px;
  }
  #title__1 {
    max-width: 80%;
    text-align: center;
    right: 40px;
    
  }
  #title__2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    color: #9dc9d6;
  }
  .btn {
    display: inline-block;
    padding: 0;
    margin-top: 15%;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .arrow {
    left: 37%;
    transform: translate(-10px, -150px);
    width: 200px;
    /* background-color: blue; */
  }
  .kanan {
    right: 0;
    top: -3px;
  }
  .kiri {
    left: 0;
    top: -3px;
  }
  .atas {
    top: 0px;
    left: 1px;
  }
  .bawah {
    bottom: 0;
    left: 1px;
  }
  .arrow #kanan {
    right: 0;
    bottom: 24%;
    text-align: center;
  }
  .arrow #kiri {
    left: 0;
    bottom: 24%;
  }
  .arrow #atas {
    top: -6px;
    right: 30%;
  }
  .arrow #bawah {
    bottom: 2px;
    right: 30%;
  }
  .wrapper {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background-color: #0e2157;
    position: absolute;
    margin: 10% 20%;
    width: 60%;
    height: 50%;
    border-radius: 20px;
    text-align: center;
    padding: 10px 25px;
    line-height: 40px;
  }
  #title__2 {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    color: #9dc9d6;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .arrow {
    left: 36%;
    width: 230px;
    height: 150px;
  }
  .kanan {
    right: 0;
    top: -3px;
  }
  .kiri {
    left: 0;
    top: -3px;
  }
  .atas {
    top: 0px;
    left: 1px;
  }
  .bawah {
    bottom: 0;
    left: 1px;
  }
  .arrow #kanan {
    right: 0;
    bottom: 24%;
    text-align: center;
  }
  .arrow #kiri {
    left: 0;
    bottom: 24%;
  }
  .arrow #atas {
    top: -6px;
    left: 75px;
  }
  .arrow #bawah {
    bottom: 2px;
    left: 75px;
  }
  i {
    font-size: 75px;
  }
}

@media (max-width: 999px) {
  .arrow {
    left: 36%;
    height: 150px;
  }
  .kanan {
    right: 0;
    bottom: 23%;
  }
  .kiri {
    left: 0;
    bottom: 24%;
  }
  .atas {
    top: 0;
    right: 39%;
  }
  .bawah {
    bottom: 0;
    right: 39%;
  }
  .arrow #kanan {
    right: 0;
    bottom: 24%;
    text-align: center;
  }
  .arrow #kiri {
    left: 0;
    bottom: 24%;
  }
  .arrow #atas {
    top: -6px;
    right: 30%;
  }
  .arrow #bawah {
    bottom: 2px;
    right: 30%;
  }
  i {
    font-size: 76px;
  }
}
@media (min-width: 1000px) {
  .arrow {
    display: none;
  }
}
